@use '../global/flex' as *;

.aside {
  @include flex-column;
  gap: 66px;
  padding: 36px 28px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);

  &__logo {
    display: block;
    max-width: 195px;
    width: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__link {
    @include flex-between-center;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -1%;
  }

  &__span {
    @include flex;
    gap: 14px;
  }
}
