.layout {
  display: grid;
  grid-template-columns: 306px 1fr;
  gap: 70px;
  min-height: 100vh;

  &__wrapper {
    height: fit-content;
    margin: 40px 0;
    padding: 30px 38px;
    border-radius: var(--radius);
    background-color: var(--white);
    box-shadow: var(--shadow);
  }
}
