:root {
  --white: #fff;
  --black: #000;
  --grey: #757575;
  --red: #df0404;
  --blue: #5932ea;
  --green: #008767;
  --body-color: #fafbff;

  // blue
  --pale-blue: #f9fbff;

  //red
  --red-pink: #ffc5c5;

  // green
  --green-pink: #16c09861;

  //grey
  --soft-slate-grey: #b5b7c0;

  --shadow: 0px 14px 30px 0px #0000000d;
  --border: 1px solid #eeeeee;
  --box-shadow: 0px 10px 60px 0px #e2ecf980;

  --ease: all 0.3s ease;
  --radius: 30px;
}
