:root {
  --white: #fff;
  --black: #000;
  --grey: #9197b3;
  --red: #ff8585;
  --blue: #5932ea;

  --shadow: 0px 14px 30px 0px #0000000d;
  --border: 1px solid #eeeeee;

  --ease: all 0.3s ease;
  --radius: 20px;
}
